<main>
<h1>Coronas virus</h1>


<section>
    <h2>Origine du virus  </h2>
<p>Le COVID-19, un nouveau coronavirus
Le virus identifié en janvier 2020 en Chine est un nouveau coronavirus, nommé SARS-CoV-2. La maladie provoquée par ce coronavirus a été nommée COVID-19 par l’Organisation mondiale de la Santé - OMS. Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.
</p>
<p>Les coronavirus sont une famille de virus qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des coronavirus) à des pathologies plus sévères (comme les détresses respiratoires du MERS, du SRAS ou du COVID-19).</p>
<p>Le COVID-19 est dangereux pour les raisons suivantes :<br>
il est très contagieux : chaque personne infectée va contaminer au moins 3 personnes en l'absence de mesures de protection ;<br>
une personne contaminée mais qui ne ressent pas encore de symptômes peut contaminer d’autres personnes.</p>
</section>
<section id="geste">   
    <img src="..//img/gest.jpg" alt="">
</section>
<section>
    <h2>Transmission du virus </h2>

<p>La maladie se transmet par ce qu’on appelle les gouttelettes : il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.</p>
<p>Un contact étroit avec une personne malade est le principal mode de transmission de la maladie : notamment lorsqu’on habite ou travaille avec elle, qu’on a un contact direct à moins d’un mètre lors d’une discussion, d’une toux ou d’un éternuement, sans mesures de protection.</p>
<p>
Le contact avec des mains non lavées ou des surfaces souillées par des gouttelettes est également à risque de contamination.</p>
</section></main>