<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/96b5a20f38.js" crossorigin="anonymous"></script>
    <script type="module" src="/js/hiddenseek.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/index">Home</a>
            <a href="/formulaire">Inscription</a>
            <a href="/produit">produit</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>